<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <article>
      <h2>About</h2>
      <div class="artbody">
        <p>Find me in app/views/static_pages/about.html.erb</p>

        <p>Images courtesy of:</p>

        <ul>
          <li><a href="https://www.toptal.com/designers/subtlepatterns/cross-stripes/">Cross Stripes</a> background pattern by <a href="http://www.facebook.com/stefanaleksic88">Stefan Aleksić</a>.</li>
        </ul>
      </div>
    </article>
  </div><!-- /col -->
</div><!-- /row -->
