<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <article>
      <h2>Portfolio</h2>
      <div class="artbody">
        <p>Find me in app/views/static_pages/portfolio.html.erb</p>
      </div>
    </article>
  </div><!-- /col -->
</div><!-- /row -->
