<div class="row">
  <div class="col-md-4">
    <h1>Thanks!</h1>
    <p>Thank you for taking the time to write. I&rsquo;ll get back to you as soon as I can.</p>
  </div><!-- /col-md-4 -->
</div><!-- /row -->
