<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% if @articles.exists? %>
      <% if signed_in? %>
        <%= link_to 'New Article', new_article_path %>
      <% end %>
      <% @articles.each do |article| %>
        <%= render article %>
      <% end %>
    <% else %>
      <p>There&rsquo;s nothing here! <%= link_to 'Get writing!', new_article_path %></p>
    <% end %>
    <%= will_paginate @articles, class: 'apple_pagination' %>
  </div><!-- /col -->
</div><!-- /row -->
