// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//  ----------------------------------------
//
//  1. Articles
//  2. Sidebar
//
//  ----------------------------------------

//  1. Articles ----------------------------

article {
  width: 100%;
}

.artbody {
  margin-left: -2.5em;

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

/*ol, ul {
  padding-left: 1em;
  margin-top: 0;
  text-indent: -1em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0 0 0 3rem;
  font-size: 100%;
}

li {
  margin-bottom: 0;
}*/


// 2. Sidebar ------------------------------

.featured-spot {
  border: 1px solid black;
  padding: 0 2em 2em;

  h3 {
    padding-bottom: 1em;
  }
}
